.App{
  display: flex;
  flex-wrap: wrap;
}

.header{
  width:100%;
}

.Sidebar{
  width: 30%;
  background-color: #CCC;
  min-height: calc(100vh - 37.27px);
}

.Main{
  background-color: salmon;
  width: 70%;
}